<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Establishing-connection-of-MongoDB-driver-with-Python" data-toc-modified-id="Establishing-connection-of-MongoDB-driver-with-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Establishing connection of MongoDB driver with Python</a></span></li><li><span><a href="#Basic-Operations-of-PyMongo" data-toc-modified-id="Basic-Operations-of-PyMongo-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Basic Operations of PyMongo</a></span><ul class="toc-item"><li><span><a href="#Viewing-list-of-available-databases" data-toc-modified-id="Viewing-list-of-available-databases-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Viewing list of available databases</a></span></li><li><span><a href="#Using-specific-database-for-further-operations" data-toc-modified-id="Using-specific-database-for-further-operations-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Using specific database for further operations</a></span></li><li><span><a href="#Viewing-list-of-available-collections" data-toc-modified-id="Viewing-list-of-available-collections-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Viewing list of available collections</a></span></li><li><span><a href="#Viewing-stats-of-database-and-collection" data-toc-modified-id="Viewing-stats-of-database-and-collection-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Viewing stats of database and collection</a></span></li></ul></li><li><span><a href="#Create-Operations-of-MongoDB" data-toc-modified-id="Create-Operations-of-MongoDB-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create Operations of MongoDB</a></span><ul class="toc-item"><li><span><a href="#Create-new-collection" data-toc-modified-id="Create-new-collection-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Create new collection</a></span></li><li><span><a href="#Inserting-single-document" data-toc-modified-id="Inserting-single-document-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Inserting single document</a></span></li><li><span><a href="#Inserting-multiple-documents-(normal-insert)" data-toc-modified-id="Inserting-multiple-documents-(normal-insert)-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Inserting multiple documents (normal insert)</a></span></li><li><span><a href="#Inserting-multiple-documents-(bulk-insert)" data-toc-modified-id="Inserting-multiple-documents-(bulk-insert)-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Inserting multiple documents (bulk insert)</a></span></li></ul></li><li><span><a href="#Update-Operations-of-MongoDB" data-toc-modified-id="Update-Operations-of-MongoDB-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Update Operations of MongoDB</a></span><ul class="toc-item"><li><span><a href="#Replace-entire-single-document" data-toc-modified-id="Replace-entire-single-document-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Replace entire single document</a></span></li><li><span><a href="#Update-part-of-single-document" data-toc-modified-id="Update-part-of-single-document-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Update part of single document</a></span></li><li><span><a href="#Update-part-of-multiple-documents" data-toc-modified-id="Update-part-of-multiple-documents-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Update part of multiple documents</a></span></li></ul></li><li><span><a href="#Update-Operators-of-MongoDB" data-toc-modified-id="Update-Operators-of-MongoDB-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Update Operators of MongoDB</a></span><ul class="toc-item"><li><span><a href="#Increment-values---INC" data-toc-modified-id="Increment-values---INC-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Increment values - INC</a></span></li><li><span><a href="#Multiply-values---MUL" data-toc-modified-id="Multiply-values---MUL-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Multiply values - MUL</a></span></li><li><span><a href="#Remove-field-from-document---Unset" data-toc-modified-id="Remove-field-from-document---Unset-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Remove field from document - Unset</a></span></li><li><span><a href="#Adding-timestamp-on-documents---currentDate" data-toc-modified-id="Adding-timestamp-on-documents---currentDate-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Adding timestamp on documents - currentDate</a></span></li><li><span><a href="#Update-operations-with-arrays" data-toc-modified-id="Update-operations-with-arrays-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Update operations with arrays</a></span><ul class="toc-item"><li><span><a href="#Add-single-item-to-a-new/existing-array---push" data-toc-modified-id="Add-single-item-to-a-new/existing-array---push-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>Add single item to a new/existing array - push</a></span></li><li><span><a href="#Add-multiple-items-to-an-array---push-+-each" data-toc-modified-id="Add-multiple-items-to-an-array---push-+-each-5.5.2"><span class="toc-item-num">5.5.2&nbsp;&nbsp;</span>Add multiple items to an array - push + each</a></span></li><li><span><a href="#Add-unique-items-to-an-array---addToSet-+-each" data-toc-modified-id="Add-unique-items-to-an-array---addToSet-+-each-5.5.3"><span class="toc-item-num">5.5.3&nbsp;&nbsp;</span>Add unique items to an array - addToSet + each</a></span></li></ul></li></ul></li><li><span><a href="#Delete-Operations-of-MongoDB" data-toc-modified-id="Delete-Operations-of-MongoDB-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Delete Operations of MongoDB</a></span><ul class="toc-item"><li><span><a href="#Removing-single-document" data-toc-modified-id="Removing-single-document-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Removing single document</a></span></li><li><span><a href="#Removing-multiple-documents" data-toc-modified-id="Removing-multiple-documents-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Removing multiple documents</a></span></li><li><span><a href="#Removing-entire-collection" data-toc-modified-id="Removing-entire-collection-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Removing entire collection</a></span></li></ul></li><li><span><a href="#Basic-Query-Operations-of-MongoDB" data-toc-modified-id="Basic-Query-Operations-of-MongoDB-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Basic Query Operations of MongoDB</a></span><ul class="toc-item"><li><span><a href="#Query-one-document" data-toc-modified-id="Query-one-document-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Query one document</a></span></li><li><span><a href="#Query-multiple-documents" data-toc-modified-id="Query-multiple-documents-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Query multiple documents</a></span></li><li><span><a href="#Query-documents-with-specific-fields" data-toc-modified-id="Query-documents-with-specific-fields-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Query documents with specific fields</a></span></li><li><span><a href="#Query-maximum-of-n-documents" data-toc-modified-id="Query-maximum-of-n-documents-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Query maximum of n documents</a></span></li><li><span><a href="#Sorting-documents-based-on-specific-fields-+-Limit-number-of-documents" data-toc-modified-id="Sorting-documents-based-on-specific-fields-+-Limit-number-of-documents-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Sorting documents based on specific fields + Limit number of documents</a></span></li><li><span><a href="#Query-number-of-documents-based-on-condition" data-toc-modified-id="Query-number-of-documents-based-on-condition-7.6"><span class="toc-item-num">7.6&nbsp;&nbsp;</span>Query number of documents based on condition</a></span></li></ul></li><li><span><a href="#Conditional-and-Logical-Operators-of-MongoDB" data-toc-modified-id="Conditional-and-Logical-Operators-of-MongoDB-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Conditional and Logical Operators of MongoDB</a></span></li><li><span><a href="#Type-Specific-Queries" data-toc-modified-id="Type-Specific-Queries-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Type Specific Queries</a></span><ul class="toc-item"><li><span><a href="#Null-values" data-toc-modified-id="Null-values-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Null values</a></span></li><li><span><a href="#Regular-Expressions" data-toc-modified-id="Regular-Expressions-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Regular Expressions</a></span></li><li><span><a href="#Arrays" data-toc-modified-id="Arrays-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Arrays</a></span><ul class="toc-item"><li><span><a href="#Finding-documents-that-at-least-contain-specified-array-element" data-toc-modified-id="Finding-documents-that-at-least-contain-specified-array-element-9.3.1"><span class="toc-item-num">9.3.1&nbsp;&nbsp;</span>Finding documents that at least contain specified array element</a></span></li><li><span><a href="#FInding-documents-that-contain-exact-array-in-the-specified-order" data-toc-modified-id="FInding-documents-that-contain-exact-array-in-the-specified-order-9.3.2"><span class="toc-item-num">9.3.2&nbsp;&nbsp;</span>FInding documents that contain exact array in the specified order</a></span></li><li><span><a href="#Finding-documents-that-at-least-contains-specified-elements-in-array-(Non-exact-match)" data-toc-modified-id="Finding-documents-that-at-least-contains-specified-elements-in-array-(Non-exact-match)-9.3.3"><span class="toc-item-num">9.3.3&nbsp;&nbsp;</span>Finding documents that at least contains specified elements in array (Non-exact match)</a></span></li><li><span><a href="#Finding-documents-that-contain-a-specific-array-length." data-toc-modified-id="Finding-documents-that-contain-a-specific-array-length.-9.3.4"><span class="toc-item-num">9.3.4&nbsp;&nbsp;</span>Finding documents that contain a specific array length.</a></span></li><li><span><a href="#Range-query-in-array-values-+-Slicing-arrays" data-toc-modified-id="Range-query-in-array-values-+-Slicing-arrays-9.3.5"><span class="toc-item-num">9.3.5&nbsp;&nbsp;</span>Range query in array values + Slicing arrays</a></span></li></ul></li><li><span><a href="#Embedded-Documents" data-toc-modified-id="Embedded-Documents-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Embedded Documents</a></span></li></ul></li></ul></div>

## Establishing connection of MongoDB driver with Python

Pymongo library in Python is required for establishing connection with MongoDB.

In [1]:
# pip install pymongo[srv] Package for connecting mongo compass to Python
import pymongo
from pymongo import MongoClient
from pprint import pprint # Package used for printing JSON format with clear structure
from bson.json_util import dumps

Note that .pretty() function for MongoDB requires the use of pprint() function in PyMongo

In [2]:
client = MongoClient('mongodb+srv://admin:Aikseng1163@mydb.h2tun.mongodb.net/test')

Note that the MongoClient above is based on connection string from Mongo Atlas (Cloud service of MongoDB)

## Basic Operations of PyMongo

### Viewing list of available databases

In [3]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

### Using specific database for further operations

In [4]:
training = client['sample_training']

Note that using a new database that does not exist in the MongoClient is still possible, however a database will only be created once documents are created in a collection within the database

### Viewing list of available collections

In [5]:
training.list_collection_names()

['zips', 'companies', 'routes', 'grades', 'posts', 'trips', 'inspections']

### Viewing stats of database and collection

In [6]:
training.command('dbstats')

{'db': 'sample_training',
 'collections': 7,
 'views': 0,
 'objects': 296502,
 'avgObjSize': 402.31109739563306,
 'dataSize': 119286045,
 'storageSize': 42860544,
 'totalFreeStorageSize': 0,
 'numExtents': 0,
 'indexes': 7,
 'indexSize': 4173824,
 'fileSize': 0,
 'nsSizeMB': 0,
 'ok': 1}

In [7]:
training.command('collstats','routes')

{'ns': 'sample_training.routes',
 'size': 12333561,
 'count': 66985,
 'avgObjSize': 184,
 'storageSize': 2613248,
 'freeStorageSize': 794624,
 'capped': False,
 'nindexes': 1,
 'indexDetails': {'_id_': {'metadata': {'formatVersion': 8},
   'creationString': 'access_pattern_hint=none,allocation_size=4KB,app_metadata=(formatVersion=8),assert=(commit_timestamp=none,durable_timestamp=none,read_timestamp=none,write_timestamp=off),block_allocation=best,block_compressor=,cache_resident=false,checksum=on,colgroups=,collator=,columns=,dictionary=0,encryption=(keyid=,name=),exclusive=false,extractor=,format=btree,huffman_key=,huffman_value=,ignore_in_memory_cache_size=false,immutable=false,import=(enabled=false,file_metadata=,repair=false),internal_item_max=0,internal_key_max=0,internal_key_truncate=true,internal_page_max=16k,key_format=u,key_gap=10,leaf_item_max=0,leaf_key_max=0,leaf_page_max=16k,leaf_value_max=0,log=(enabled=false),lsm=(auto_throttle=true,bloom=true,bloom_bit_count=16,bloom_config=,bloom_hash_count=8,bloom_oldest=false,chunk_count_limit=0,chunk_max=5GB,chunk_size=10MB,merge_custom=(prefix=,start_generation=0,suffix=),merge_max=15,merge_min=0),memory_page_image_max=0,memory_page_max=5MB,os_cache_dirty_max=0,os_cache_max=0,prefix_compression=true,prefix_compression_min=4,readonly=false,source=,split_deepen_min_child=0,split_deepen_per_child=0,split_pct=90,tiered_object=false,tiered_storage=(auth_token=,bucket=,bucket_prefix=,local_retention=300,name=,object_target_size=10M),type=file,value_format=u,verbose=[],write_timestamp_usage=none',
   'type': 'file',
   'uri': 'statistics:table:index-36254--4818636631317061690',
   'LSM': {'bloom filter false positives': 0,
    'bloom filter hits': 0,
    'bloom filter misses': 0,
    'bloom filter pages evicted from cache': 0,
    'bloom filter pages read into cache': 0,
    'bloom filters in the LSM tree': 0,
    'chunks in the LSM tree': 0,
    'highest merge generation in the LSM tree': 0,
    'queries that could have benefited from a Bloom filter that did not exist': 0,
    'sleep for LSM checkpoint throttle': 0,
    'sleep for LSM merge throttle': 0,
    'total size of bloom filters': 0},
   'block-manager': {'allocations requiring file extension': 0,
    'blocks allocated': 0,
    'blocks freed': 0,
    'checkpoint size': 815104,
    'file allocation unit size': 4096,
    'file bytes available for reuse': 262144,
    'file magic number': 120897,
    'file major version number': 1,
    'file size in bytes': 1093632,
    'minor version number': 0},
   'btree': {'btree checkpoint generation': 14898,
    'btree clean tree checkpoint expiration time': 9223372036854775807,
    'column-store fixed-size leaf pages': 0,
    'column-store internal pages': 0,
    'column-store variable-size RLE encoded values': 0,
    'column-store variable-size deleted values': 0,
    'column-store variable-size leaf pages': 0,
    'fixed-record size': 0,
    'maximum internal page key size': 1474,
    'maximum internal page size': 16384,
    'maximum leaf page key size': 1474,
    'maximum leaf page size': 16384,
    'maximum leaf page value size': 7372,
    'maximum tree depth': 0,
    'number of key/value pairs': 0,
    'overflow pages': 0,
    'pages rewritten by compaction': 0,
    'row-store empty values': 0,
    'row-store internal pages': 0,
    'row-store leaf pages': 0},
   'cache': {'bytes currently in the cache': 6092,
    'bytes dirty in the cache cumulative': 0,
    'bytes read into cache': 1953,
    'bytes written from cache': 0,
    'checkpoint blocked page eviction': 0,
    'checkpoint of history store file blocked non-history store page eviction': 0,
    'data source pages selected for eviction unable to be evicted': 0,
    'eviction gave up due to detecting an out of order on disk value behind the last update on the chain': 0,
    'eviction gave up due to detecting an out of order tombstone ahead of the selected on disk update': 0,
    'eviction gave up due to detecting an out of order tombstone ahead of the selected on disk update after validating the update chain': 0,
    'eviction gave up due to detecting out of order timestamps on the update chain after the selected on disk update': 0,
    'eviction walk passes of a file': 0,
    'eviction walk target pages histogram - 0-9': 0,
    'eviction walk target pages histogram - 10-31': 0,
    'eviction walk target pages histogram - 128 and higher': 0,
    'eviction walk target pages histogram - 32-63': 0,
    'eviction walk target pages histogram - 64-128': 0,
    'eviction walk target pages reduced due to history store cache pressure': 0,
    'eviction walks abandoned': 0,
    'eviction walks gave up because they restarted their walk twice': 0,
    'eviction walks gave up because they saw too many pages and found no candidates': 0,
    'eviction walks gave up because they saw too many pages and found too few candidates': 0,
    'eviction walks reached end of tree': 0,
    'eviction walks restarted': 0,
    'eviction walks started from root of tree': 0,
    'eviction walks started from saved location in tree': 0,
    'hazard pointer blocked page eviction': 0,
    'history store table insert calls': 0,
    'history store table insert calls that returned restart': 0,
    'history store table out-of-order resolved updates that lose their durable timestamp': 0,
    'history store table out-of-order updates that were fixed up by reinserting with the fixed timestamp': 0,
    'history store table reads': 0,
    'history store table reads missed': 0,
    'history store table reads requiring squashed modifies': 0,
    'history store table truncation by rollback to stable to remove an unstable update': 0,
    'history store table truncation by rollback to stable to remove an update': 0,
    'history store table truncation to remove an update': 0,
    'history store table truncation to remove range of updates due to key being removed from the data page during reconciliation': 0,
    'history store table truncation to remove range of updates due to out-of-order timestamp update on data page': 0,
    'history store table writes requiring squashed modifies': 0,
    'in-memory page passed criteria to be split': 0,
    'in-memory page splits': 0,
    'internal pages evicted': 0,
    'internal pages split during eviction': 0,
    'leaf pages split during eviction': 0,
    'modified pages evicted': 0,
    'overflow pages read into cache': 0,
    'page split during eviction deepened the tree': 0,
    'page written requiring history store records': 0,
    'pages read into cache': 1,
    'pages read into cache after truncate': 0,
    'pages read into cache after truncate in prepare state': 0,
    'pages requested from the cache': 0,
    'pages seen by eviction walk': 0,
    'pages written from cache': 0,
    'pages written requiring in-memory restoration': 0,
    'tracked dirty bytes in the cache': 0,
    'unmodified pages evicted': 0},
   'cache_walk': {'Average difference between current eviction generation when the page was last considered': 0,
    'Average on-disk page image size seen': 0,
    'Average time in cache for pages that have been visited by the eviction server': 0,
    'Average time in cache for pages that have not been visited by the eviction server': 0,
    'Clean pages currently in cache': 0,
    'Current eviction generation': 0,
    'Dirty pages currently in cache': 0,
    'Entries in the root page': 0,
    'Internal pages currently in cache': 0,
    'Leaf pages currently in cache': 0,
    'Maximum difference between current eviction generation when the page was last considered': 0,
    'Maximum page size seen': 0,
    'Minimum on-disk page image size seen': 0,
    'Number of pages never visited by eviction server': 0,
    'On-disk page image sizes smaller than a single allocation unit': 0,
    'Pages created in memory and never written': 0,
    'Pages currently queued for eviction': 0,
    'Pages that could not be queued for eviction': 0,
    'Refs skipped during cache traversal': 0,
    'Size of the root page': 0,
    'Total number of pages currently in cache': 0},
   'checkpoint-cleanup': {'pages added for eviction': 0,
    'pages removed': 0,
    'pages skipped during tree walk': 0,
    'pages visited': 0},
   'compression': {'compressed page maximum internal page size prior to compression': 16384,
    'compressed page maximum leaf page size prior to compression ': 16384,
    'compressed pages read': 0,
    'compressed pages written': 0,
    'page written failed to compress': 0,
    'page written was too small to compress': 0},
   'cursor': {'Total number of entries skipped by cursor next calls': 0,
    'Total number of entries skipped by cursor prev calls': 0,
    'Total number of entries skipped to position the history store cursor': 0,
    'Total number of times a search near has exited due to prefix config': 0,
    'bulk loaded cursor insert calls': 0,
    'cache cursors reuse count': 0,
    'close calls that result in cache': 0,
    'create calls': 0,
    'cursor next calls that skip due to a globally visible history store tombstone': 0,
    'cursor next calls that skip greater than or equal to 100 entries': 0,
    'cursor next calls that skip less than 100 entries': 0,
    'cursor prev calls that skip due to a globally visible history store tombstone': 0,
    'cursor prev calls that skip greater than or equal to 100 entries': 0,
    'cursor prev calls that skip less than 100 entries': 0,
    'insert calls': 0,
    'insert key and value bytes': 0,
    'modify': 0,
    'modify key and value bytes affected': 0,
    'modify value bytes modified': 0,
    'next calls': 0,
    'open cursor count': 0,
    'operation restarted': 0,
    'prev calls': 0,
    'remove calls': 0,
    'remove key bytes removed': 0,
    'reserve calls': 0,
    'reset calls': 0,
    'search calls': 0,
    'search history store calls': 0,
    'search near calls': 0,
    'truncate calls': 0,
    'update calls': 0,
    'update key and value bytes': 0,
    'update value size change': 0},
   'reconciliation': {'approximate byte size of timestamps in pages written': 0,
    'approximate byte size of transaction IDs in pages written': 0,
    'dictionary matches': 0,
    'fast-path pages deleted': 0,
    'internal page key bytes discarded using suffix compression': 0,
    'internal page multi-block writes': 0,
    'internal-page overflow keys': 0,
    'leaf page key bytes discarded using prefix compression': 0,
    'leaf page multi-block writes': 0,
    'leaf-page overflow keys': 0,
    'maximum blocks required for a page': 0,
    'overflow values written': 0,
    'page checksum matches': 0,
    'page reconciliation calls': 0,
    'page reconciliation calls for eviction': 0,
    'pages deleted': 0,
    'pages written including an aggregated newest start durable timestamp ': 0,
    'pages written including an aggregated newest stop durable timestamp ': 0,
    'pages written including an aggregated newest stop timestamp ': 0,
    'pages written including an aggregated newest stop transaction ID': 0,
    'pages written including an aggregated newest transaction ID ': 0,
    'pages written including an aggregated oldest start timestamp ': 0,
    'pages written including an aggregated prepare': 0,
    'pages written including at least one prepare': 0,
    'pages written including at least one start durable timestamp': 0,
    'pages written including at least one start timestamp': 0,
    'pages written including at least one start transaction ID': 0,
    'pages written including at least one stop durable timestamp': 0,
    'pages written including at least one stop timestamp': 0,
    'pages written including at least one stop transaction ID': 0,
    'records written including a prepare': 0,
    'records written including a start durable timestamp': 0,
    'records written including a start timestamp': 0,
    'records written including a start transaction ID': 0,
    'records written including a stop durable timestamp': 0,
    'records written including a stop timestamp': 0,
    'records written including a stop transaction ID': 0},
   'session': {'object compaction': 0,
    'tiered operations dequeued and processed': 0,
    'tiered operations scheduled': 0,
    'tiered storage local retention time (secs)': 0,
    'tiered storage object size': 0},
   'transaction': {'race to read prepared update retry': 0,
    'rollback to stable history store records with stop timestamps older than newer records': 0,
    'rollback to stable inconsistent checkpoint': 0,
    'rollback to stable keys removed': 0,
    'rollback to stable keys restored': 0,
    'rollback to stable restored tombstones from history store': 0,
    'rollback to stable restored updates from history store': 0,
    'rollback to stable skipping delete rle': 0,
    'rollback to stable skipping stable rle': 0,
    'rollback to stable sweeping history store keys': 0,
    'rollback to stable updates removed from history store': 0,
    'transaction checkpoints due to obsolete pages': 0,
    'update conflicts': 0}}},
 'indexBuilds': [],
 'totalIndexSize': 1093632,
 'totalSize': 3706880,
 'indexSizes': {'_id_': 1093632},
 'scaleFactor': 1,
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032402, 10),
  'signature': {'hash': b'#L2\xbe\xcb\x1b\x8bt\x95#v\x102\xbcJ\x15\x18\xfd.\xc4',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032402, 10)}

## Create Operations of MongoDB

### Create new collection

In [8]:
sample = training['sample']

Note that using a new collection that does not exist in the MongoClient is still possible, however a collection will only be created once documents are inserted into the collection

### Inserting single document

In [9]:
singledata = sample.insert_one({'Name':'Tammy', 'Age': 27, 'Birth year': 1978, 'Job post': 'Engineer'})

In [10]:
print(singledata.inserted_id)

619321d32f32daf30ccd6ab4

### Inserting multiple documents (normal insert)

In [11]:
multidata = sample.insert_many([{'Name':'Cynthia', 'Age': 27, 'Birth year': 1978, 'Job post': 'Engineer'},
                                {'Name':'Sharon', 'Age': 29, 'Birth year': 1993, 'Job post': 'Doctor'},
                                {'Name':'James', 'Age': 25, 'Birth year': 2001, 'Job post': 'Surgeon'}])

In [12]:
print(multidata.inserted_ids)

[ObjectId('619321d32f32daf30ccd6ab5'), ObjectId('619321d32f32daf30ccd6ab6'), ObjectId('619321d32f32daf30ccd6ab7')]

### Inserting multiple documents (bulk insert)

In [13]:
multidata = sample.insert([{'Name':'Chloe', 'Age': 19, 'Birth year': 2002, 'Job post': 'Student'},
                            {'Name':'Jackson', 'Age': 24, 'Birth year': 1996, 'Job post': 'Unemployed'},
                            {'Name':'Crempie', 'Age': 22, 'Birth year': 1998, 'Job post': 'Business Analyst'}])

C:\Users\yixia\AppData\Local\Temp/ipykernel_11628/3122175329.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  multidata = sample.insert([{'Name':'Chloe', 'Age': 19, 'Birth year': 2002, 'Job post': 'Student'},

In [14]:
print(multidata)

[ObjectId('619321d42f32daf30ccd6ab8'), ObjectId('619321d42f32daf30ccd6ab9'), ObjectId('619321d42f32daf30ccd6aba')]

Note that when inserting multiple documents, operation will end when either all documents are inserted or the current document fails to insert.

<b>"Ordered" key value is set to "True" by default, such that operation will return an error as soon as one of the documents fails to insert into the collection.</b>

<b>Adjusting "Ordered" key value to "False" will result in operation attempt to insert all documents specified in the list.</b>

Observe the following example below where the second document in the list has duplicated id key error:

In [15]:
multidata = sample.insert_many([{'_id':1,'Name':'Christopher', 'Age': 24, 'Birth year': 1998, 'Job post': 'Chef'},
                                {'_id':1, 'Name':'Sharone', 'Age': 29, 'Birth year': 1993, 'Job post': 'Doctor'},
                                {'_id': 2, 'Name':'McBethy', 'Age': 31, 'Birth year': 1995, 'Job post': 'Waitress'}])

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 1, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: sample_training.sample index: _id_ dup key: { _id: 1 }', 'op': {'_id': 1, 'Name': 'Sharone', 'Age': 29, 'Birth year': 1993, 'Job post': 'Doctor'}}], 'writeConcernErrors': [], 'nInserted': 1, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Note that the error above shows that the 2nd document in the list could not be inserted due to duplicated "_id" values. MongoDB by default creates a new "_id" value that is unique within a collection when not specified.

Therefore, only the first document is inserted into the collection (where <b>nInserted value is 1</b>)

The example below demonstrates the insert operation with ordered value set to False:

In [16]:
multidata = sample.insert_many([{'_id':2,'Name':'Sharone', 'Age': 24, 'Birth year': 1998, 'Job post': 'Truck driver'},
                                {'_id':2, 'Name':'Salmon', 'Age': 29, 'Birth year': 1993, 'Job post': 'Doctor'},
                                {'_id': 3, 'Name':'McBethy', 'Age': 31, 'Birth year': 1995, 'Job post': 'Waitress'}], 
                               ordered=False)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 1, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 2}, 'errmsg': 'E11000 duplicate key error collection: sample_training.sample index: _id_ dup key: { _id: 2 }', 'op': {'_id': 2, 'Name': 'Salmon', 'Age': 29, 'Birth year': 1993, 'Job post': 'Doctor'}}], 'writeConcernErrors': [], 'nInserted': 2, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Note that the error above also shows that the 2nd document in the list could not be inserted due to duplicated "_id" values. 
However, when "ordered" value is set to False, the operation skips the 2nd document and attempts to insert the third document into the collection which is a success.

Therefore, only the first and third document is inserted into the collection (where <b>nInserted value is 2</b>)

## Update Operations of MongoDB

### Replace entire single document

In [17]:
# Before replacement
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 31,
    "Birth year": 1995,
    "Job post": "Waitress"
  }
]

In [18]:
replace = sample.replace_one({'Name': 'McBethy'},{'Name': 'McBethy','Age':27, 'Occupation': 'Doctor', 'Income': 27000})

In [19]:
replace.raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032405, 5), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032405, 5),
  'signature': {'hash': b'\xff\xd3\xb9\xed\x82\xf3\x15N\x02\xc02\xf6\x8f/v\xff\x8fU\xcfx',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032405, 5),
 'updatedExisting': True}

In [20]:
# After replacement
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 27,
    "Occupation": "Doctor",
    "Income": 27000
  }
]

As shown above, the entire document structure other than "_id" variable for a single document can be replaced with a new document by first filtering the document that satisfies the specified condition before specifying the new document. Note that this operation is not supported for multiple documents.

### Update part of single document

In [21]:
# Before update
result = sample.find({'Name':'Sharone'})
print(dumps(result, indent=2))

[
  {
    "_id": 2,
    "Name": "Sharone",
    "Age": 24,
    "Birth year": 1998,
    "Job post": "Truck driver"
  }
]

In [22]:
singleupdate = sample.update_one({'Name': 'Sharone'},{'$set':{'Job post': 'Truck operator'}})

In [23]:
singleupdate.raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032406, 4), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032406, 4),
  'signature': {'hash': b'<{m!Ml4\x02OX]A\xfe\xa4\xebi\xc3\xf9\xd8\xc7',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032406, 4),
 'updatedExisting': True}

In [24]:
# After update
result = sample.find({'Name':'Sharone'})
print(dumps(result, indent=2))

[
  {
    "_id": 2,
    "Name": "Sharone",
    "Age": 24,
    "Birth year": 1998,
    "Job post": "Truck operator"
  }
]

### Update part of multiple documents

In [25]:
# Before update
result = sample.find({'Job post':'Engineer'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab4"
    },
    "Name": "Tammy",
    "Age": 27,
    "Birth year": 1978,
    "Job post": "Engineer"
  },
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab5"
    },
    "Name": "Cynthia",
    "Age": 27,
    "Birth year": 1978,
    "Job post": "Engineer"
  }
]

In [26]:
multiupdate = sample.update_many({'Job post':'Engineer'},{'$set':{'Job post': 'Architect', 'Age': 25}})

In [27]:
multiupdate.raw_result

{'n': 2,
 'nModified': 2,
 'opTime': {'ts': Timestamp(1637032407, 3), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032407, 3),
  'signature': {'hash': b'$1\\\x82\xf5\xfa\xa6\xd1\xc2O*\xf5\x81y\x17\xfa\x9e\x90c8',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032407, 3),
 'updatedExisting': True}

In [28]:
# After update
result = sample.find({'Job post':'Architect'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab4"
    },
    "Name": "Tammy",
    "Age": 25,
    "Birth year": 1978,
    "Job post": "Architect"
  },
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab5"
    },
    "Name": "Cynthia",
    "Age": 25,
    "Birth year": 1978,
    "Job post": "Architect"
  }
]

Note that update operations by default will not result in any documents modified if none of the existing documents satisfies the condition specified, where "upsert" key value is set to False.

<b> By setting "upsert" key value to True, new documents will be created when none of the existing documents meet the criteria specified. </b>

The example below demonstrates the use of "upsert" key value as true:

In [29]:
sample.update_many({'Age':'35'},{'$set':{'Job post': 'Architect', 'Birth year':1989}}).raw_result

{'n': 0,
 'nModified': 0,
 'opTime': {'ts': Timestamp(1637032407, 7), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032407, 7),
  'signature': {'hash': b'$1\\\x82\xf5\xfa\xa6\xd1\xc2O*\xf5\x81y\x17\xfa\x9e\x90c8',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032407, 7),
 'updatedExisting': False}

<b> From the operation above, none of the existing documents have age key value as 35. Thus, no documents are modified (nModified is 0) and no documents are inserted (n is 0). </b>

In [30]:
sample.update_many({'Age':'35'},{'$set':{'Job post': 'Architect', 'Birth year':1989}}, upsert=True).raw_result

{'n': 1,
 'nModified': 0,
 'upserted': ObjectId('619321d84c9852419cfa7adc'),
 'opTime': {'ts': Timestamp(1637032408, 1), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032408, 1),
  'signature': {'hash': b'\xee}\x9fy\xbf>B\xb7\xa4;TZ\x85-a.\x93\xb7\xd9#',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032408, 1),
 'updatedExisting': False}

In [31]:
# After update operation with upsert value as True
result = sample.find({'Age':'35'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d84c9852419cfa7adc"
    },
    "Age": "35",
    "Birth year": 1989,
    "Job post": "Architect"
  }
]

<b> From the update operation above, a new document is inserted into the collection (n=1) since none of the previous existing documents have age key value as 35. </b>

## Update Operators of MongoDB

Besides using $set operator, there are other update operators available in MongoDB as follows:

### Increment values - INC
Values can be incremented in positive or negative values as per example below:

In [32]:
# Before update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 27,
    "Occupation": "Doctor",
    "Income": 27000
  }
]

The operation below adds additional income of McBethy by 10000 from 27000 to 37000.

In [33]:
sample.update_one({'Name': 'McBethy'},{'$inc': {'Income': 10000}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032408, 8), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032408, 8),
  'signature': {'hash': b'\xee}\x9fy\xbf>B\xb7\xa4;TZ\x85-a.\x93\xb7\xd9#',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032408, 8),
 'updatedExisting': True}

In [34]:
# After update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 27,
    "Occupation": "Doctor",
    "Income": 37000
  }
]

The operation below reduces McBethy's income by 2000 from 37000 to 35000.

In [35]:
sample.update_one({'Name': 'McBethy'},{'$inc': {'Income': -2000}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032409, 5), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032409, 5),
  'signature': {'hash': b'\xf5\xc3\xde\xc2F\xd5[\x9e\xbcK\xae\x93\xc3\\\xc8\xd6L\xea\xce;',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032409, 5),
 'updatedExisting': True}

In [36]:
# After update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 27,
    "Occupation": "Doctor",
    "Income": 35000
  }
]

### Multiply values - MUL

In [37]:
# Before update
result = sample.find({'Name':'Crempie'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6aba"
    },
    "Name": "Crempie",
    "Age": 22,
    "Birth year": 1998,
    "Job post": "Business Analyst"
  }
]

The operation below multiplies the age of Crempie by 2 from 22 to 44

In [38]:
sample.update_one({'Name': 'Crempie'},{'$mul': {'Age': 2}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032410, 5), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032410, 5),
  'signature': {'hash': b"Y\xb7\xf3E\xe0q\x153x\x01V\xea\x92'\xa7\x81\xce\xdb\x85\xaf",
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032410, 5),
 'updatedExisting': True}

In [39]:
# After update
result = sample.find({'Name':'Crempie'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6aba"
    },
    "Name": "Crempie",
    "Age": 44,
    "Birth year": 1998,
    "Job post": "Business Analyst"
  }
]

### Remove field from document - Unset

In [40]:
# Before update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Age": 27,
    "Occupation": "Doctor",
    "Income": 35000
  }
]

The operation below removes the age field for McBethy

In [41]:
sample.update_one({'Name': 'McBethy'},{'$unset': {'Age': 1}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032411, 1), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032411, 1),
  'signature': {'hash': b'\xed\xea\xb7f#D\r\x0b\xff\x9b\xfb\x0f\x1d\x89\xd1%\x8ff\x16A',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032411, 1),
 'updatedExisting': True}

In [42]:
# After update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Occupation": "Doctor",
    "Income": 35000
  }
]

### Adding timestamp on documents - currentDate

In [43]:
# Before update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Occupation": "Doctor",
    "Income": 35000
  }
]

The operation below updates McBethy's info to show the latest update in datetime format

In [44]:
sample.update_one({'Name': 'McBethy'},{'$currentDate': {"lastupdate": {'$type': "date" }}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032412, 2), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032412, 2),
  'signature': {'hash': b'\xde|o\xdf\xec~[m\x19\xdb\xc2\xecTB{kL+-\xe2',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032412, 2),
 'updatedExisting': True}

In [45]:
# After update
result = sample.find({'Name':'McBethy'})
print(dumps(result, indent=2))

[
  {
    "_id": 3,
    "Name": "McBethy",
    "Occupation": "Doctor",
    "Income": 35000,
    "lastupdate": {
      "$date": 1637032412017
    }
  }
]

### Update operations with arrays

#### Add single item to a new/existing array - push

In [46]:
# Before update
result = sample.find({'Name':'Chloe'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6ab8"
    },
    "Name": "Chloe",
    "Age": 19,
    "Birth year": 2002,
    "Job post": "Student"
  }
]

The operation below adds biscuits to a new array field named as items.

In [47]:
sample.update_one({'Name': 'Chloe'},{'$push': {"items": 'biscuits'}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032412, 8), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032412, 8),
  'signature': {'hash': b'\xde|o\xdf\xec~[m\x19\xdb\xc2\xecTB{kL+-\xe2',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032412, 8),
 'updatedExisting': True}

In [48]:
# After update
result = sample.find({'Name':'Chloe'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6ab8"
    },
    "Name": "Chloe",
    "Age": 19,
    "Birth year": 2002,
    "Job post": "Student",
    "items": [
      "biscuits"
    ]
  }
]

The operation below adds fruits to an existing array field "items"

In [49]:
sample.update_one({'Name': 'Chloe'},{'$push': {"items": 'fruits'}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032413, 6), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032413, 6),
  'signature': {'hash': b'xi\xdd\xbf\xde8\x85Q\xa6\x96\xd6U\xb9\xe6\x8f\xc8\xc3\xc6\x05|',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032413, 6),
 'updatedExisting': True}

In [50]:
# After update
result = sample.find({'Name':'Chloe'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6ab8"
    },
    "Name": "Chloe",
    "Age": 19,
    "Birth year": 2002,
    "Job post": "Student",
    "items": [
      "biscuits",
      "fruits"
    ]
  }
]

#### Add multiple items to an array - push + each

The operation below adds multiple elements into "items" array field at once

In [51]:
sample.update_one({'Name': 'Chloe'},{'$push': {"items": {"$each": ['apple','cake','mandarin']}}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032413, 11), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032413, 11),
  'signature': {'hash': b'xi\xdd\xbf\xde8\x85Q\xa6\x96\xd6U\xb9\xe6\x8f\xc8\xc3\xc6\x05|',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032413, 11),
 'updatedExisting': True}

In [52]:
# After update
result = sample.find({'Name':'Chloe'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6ab8"
    },
    "Name": "Chloe",
    "Age": 19,
    "Birth year": 2002,
    "Job post": "Student",
    "items": [
      "biscuits",
      "fruits",
      "apple",
      "cake",
      "mandarin"
    ]
  }
]

#### Add unique items to an array - addToSet + each

The operation below adds multiple elements that are unique into "items" array field at once.

In [53]:
sample.update_one({'Name': 'Chloe'},{'$addToSet': {"items": {"$each": ['apple','noodles','guava','biscuits']}}}).raw_result

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1637032414, 7), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032414, 7),
  'signature': {'hash': b'1\xffPQ\xbe\xec\xf8\x8f\x93\xf8\x8aBF\x1f\x0b\x8bL\xb2\xaf\x8c',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032414, 7),
 'updatedExisting': True}

In [54]:
# After update
result = sample.find({'Name':'Chloe'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d42f32daf30ccd6ab8"
    },
    "Name": "Chloe",
    "Age": 19,
    "Birth year": 2002,
    "Job post": "Student",
    "items": [
      "biscuits",
      "fruits",
      "apple",
      "cake",
      "mandarin",
      "noodles",
      "guava"
    ]
  }
]

## Delete Operations of MongoDB

### Removing single document

In [55]:
# Before deleting
result = sample.find({'Name':'James'})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab7"
    },
    "Name": "James",
    "Age": 25,
    "Birth year": 2001,
    "Job post": "Surgeon"
  }
]

The operation below deletes one document with the name of James.

In [56]:
sample.delete_one({'Name': 'James'}).raw_result

{'n': 1,
 'opTime': {'ts': Timestamp(1637032415, 5), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032415, 5),
  'signature': {'hash': b'\xe2R=R|\x07\x90N\x18\x88}\xf1\xcf\xbb\xaa\x93[\x92\xceh',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032415, 5)}

In [57]:
# After deleting
result = sample.find({'Name':'James'})
print(dumps(result, indent=2))

[]

Note that if there are multiple documents that satisfies the filter criteria, only the first document is removed from the collection if using delete_one function.

### Removing multiple documents

In [58]:
# Before deleting
result = sample.find({'Age':25})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab4"
    },
    "Name": "Tammy",
    "Age": 25,
    "Birth year": 1978,
    "Job post": "Architect"
  },
  {
    "_id": {
      "$oid": "619321d32f32daf30ccd6ab5"
    },
    "Name": "Cynthia",
    "Age": 25,
    "Birth year": 1978,
    "Job post": "Architect"
  }
]

The operation below removes multiple documents with age value of 25.

In [59]:
sample.delete_many({'Age': 25}).raw_result

{'n': 2,
 'opTime': {'ts': Timestamp(1637032416, 3), 't': 107},
 'electionId': ObjectId('7fffffff000000000000006b'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1637032416, 3),
  'signature': {'hash': b'\xc0\x1e\xb1-\x9bY\xb1\xff%}o\xf4\x95V\x98\xd0\xf9A\xb4\xef',
   'keyId': 6995568222632148994}},
 'operationTime': Timestamp(1637032416, 3)}

In [60]:
# After deleting
result = sample.find({'Age':25})
print(dumps(result, indent=2))

[]

### Removing entire collection

In [61]:
# Before deleting
list(training.list_collection_names())

['zips',
 'companies',
 'sample',
 'routes',
 'grades',
 'posts',
 'trips',
 'inspections']

The operation below removes the entire sample collection from the training database.

In [62]:
sample.drop()

In [63]:
# After deleting
list(training.list_collection_names())

['zips', 'companies', 'routes', 'grades', 'posts', 'trips', 'inspections']

<b> Note that the drop command requires caution as data could not be retrieved once the entire collection is removed from the database. </b>

## Basic Query Operations of MongoDB

For this section, we will use the accounts collection in the sample_analystics database.

In [64]:
analytics = client['sample_analytics']
analytics.list_collection_names()

['transactions', 'accounts', 'customers']

### Query one document

The operation below searches for one document from the accounts collection at random.

In [65]:
analytics.accounts.find_one({})

{'_id': ObjectId('5ca4bbc7a2dd94ee5816238c'),
 'account_id': 371138,
 'limit': 9000,
 'products': ['Derivatives', 'InvestmentStock']}

<b> Note that an empty dictionary indicates that no filter condition is applied onto the collection.</b>

### Query multiple documents

The operation below queries for documents with limit field value of 8000

In [66]:
result = analytics.accounts.find({'limit':8000})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee581624d5"
    },
    "account_id": 312740,
    "limit": 8000,
    "products": [
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162540"
    },
    "account_id": 388578,
    "limit": 8000,
    "products": [
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162587"
    },
    "account_id": 911518,
    "limit": 8000,
    "products": [
      "Brokerage",
      "CurrencyService",
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816264b"
    },
    "account_id": 273420,
    "limit": 8000,
    "products": [
      "InvestmentStock",
      "InvestmentFund"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816288f"
    },
    "account_id": 678540,
    "limit": 8000,
    "products": [
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162a31"
    },
    "account_id": 675631,
    "limit": 8000,
    "products": [
      "Commodity",
      "Derivatives",
      "Brokerage",
      "InvestmentStock"
    ]
  }
]

### Query documents with specific fields

The operation below queries for documents with limit field value of 8000 and displaying only "account_id" and "products" field.

In [67]:
result = analytics.accounts.find({'limit':8000}, {'_id':0,'account_id':1,'products':1})
print(dumps(result, indent=2))

[
  {
    "account_id": 312740,
    "products": [
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "account_id": 388578,
    "products": [
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "account_id": 911518,
    "products": [
      "Brokerage",
      "CurrencyService",
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "account_id": 273420,
    "products": [
      "InvestmentStock",
      "InvestmentFund"
    ]
  },
  {
    "account_id": 678540,
    "products": [
      "InvestmentStock"
    ]
  },
  {
    "account_id": 675631,
    "products": [
      "Commodity",
      "Derivatives",
      "Brokerage",
      "InvestmentStock"
    ]
  }
]

<b> Note that either all fields specified can be included (1) or excluded (0), with the exception of "_id" variable that can be excluded independently from including other fields for display. </b>

### Query maximum of n documents

The operation below queries for maximum of 5 documents with limit field value as 10000.

In [68]:
result = analytics.accounts.find({'limit':10000}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238d"
    },
    "account_id": 557378,
    "limit": 10000,
    "products": [
      "InvestmentStock",
      "Commodity",
      "Brokerage",
      "CurrencyService"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238e"
    },
    "account_id": 198100,
    "limit": 10000,
    "products": [
      "Derivatives",
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238f"
    },
    "account_id": 674364,
    "limit": 10000,
    "products": [
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162390"
    },
    "account_id": 278603,
    "limit": 10000,
    "products": [
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162391"
    },
    "account_id": 383777,
    "limit": 10000,
    "products": [
      "CurrencyService",
      "Derivatives",
      "InvestmentFund",
      "Commodity",
      "InvestmentStock"
    ]
  }
]

### Sorting documents based on specific fields + Limit number of documents

The operation below sorts the documents by limit field value in ascending order, followed by account_id field value in descending order and returns a maximum of 8 documents from the query.

In [69]:
result = analytics.accounts.find({}).sort([('limit',1),('account_id',-1)]).limit(8)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162661"
    },
    "account_id": 417993,
    "limit": 3000,
    "products": [
      "InvestmentStock",
      "InvestmentFund"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee581626ad"
    },
    "account_id": 113123,
    "limit": 3000,
    "products": [
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816272e"
    },
    "account_id": 170980,
    "limit": 5000,
    "products": [
      "InvestmentFund",
      "Brokerage",
      "CurrencyService",
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162458"
    },
    "account_id": 852986,
    "limit": 7000,
    "products": [
      "Derivatives",
      "Commodity",
      "CurrencyService",
      "InvestmentFund",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816247a"
    },
    "account_id": 777752,
    "limit": 7000,
    "products": [
      "CurrencyService",
      "Brokerage",
      "Commodity",
      "InvestmentFund",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162530"
    },
    "account_id": 453851,
    "limit": 7000,
    "products": [
      "CurrencyService",
      "Brokerage",
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee581625ad"
    },
    "account_id": 385361,
    "limit": 7000,
    "products": [
      "InvestmentStock",
      "Brokerage"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162565"
    },
    "account_id": 354107,
    "limit": 7000,
    "products": [
      "Commodity",
      "InvestmentFund",
      "InvestmentStock"
    ]
  }
]

The query above differs slightly from syntax used in MongoDB CLI, where dictionary for multiple key-value pairs is used in the sort function:

<b> db.coll_name.find({condition}).sort({key1: value1, key2:value2}) </b>

### Query number of documents based on condition

The operation below returns number of documents with limit value of 10000.

In [70]:
result = analytics.accounts.find({'limit':10000}).count()
print(dumps(result, indent=2))

C:\Users\yixia\AppData\Local\Temp/ipykernel_11628/2360362453.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  result = analytics.accounts.find({'limit':10000}).count()

1701

## Conditional and Logical Operators of MongoDB

For this section, we will use the listingsAndReviews collection from the sample_airbnb database.

Conditional operators of MongoDB:
1. Less than: &dollar;le
2. Less than or equal to: &dollar;lte
3. Greater than: &dollar;gt
4. Greater than or equal to: &dollar;gte
5. Equal to: &dollar;eq
6. Not equal to: &dollar;ne

The following syntax is applicable for all conditional operators of MongoDB:

<b> {field: {operator: value}} </b>

Logical operators of MongoDB:
1. &dollar;and
2. &dollar;or
3. &dollar;not
4. &dollar;nor
5. &dollar;in
6. &dollar;nin

The following syntax is applicable for "and", "or", "nor" logical operators in MongoDB:
<b> {operator: [{key1: value1}, {key2: value2}]} </b>

The following syntax is applicable for "not" logical operator: <b>{key1: {$not: value1}}</b>

The following syntax is applicable for "in" and "nin" logical operator: <b> {key1: {operator: [value1, value2, ]}} </b>

<b> Note that &dollar;and operator is built-in by default in MongoDB when querying documents based on multiple conditions. </b>

The following examples below illustrate the use of conditional and logical operators of MongoDB:

The operation below finds the number of places that accommodates less than 3 people.

In [71]:
result = client['sample_airbnb'].listingsAndReviews.find({'accommodates':{'$lt':3}}).count()
print(dumps(result, indent=2))

C:\Users\yixia\AppData\Local\Temp/ipykernel_11628/169828543.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  result = client['sample_airbnb'].listingsAndReviews.find({'accommodates':{'$lt':3}}).count()

2613

The operation below finds all places that accommodates more than 10 people for minimum of 3 nights in United States.

In [72]:
result = client['sample_airbnb'].listingsAndReviews.find({'accommodates':{'$gt':10},'minimum_nights':"3",
'address.country':'United States'}, {'_id':0,'accommodates':1,'minimum_nights':1,'address.street':1,'address.location':1})
print(dumps(result, indent=2))

[
  {
    "minimum_nights": "3",
    "accommodates": 14,
    "address": {
      "street": "Laie, HI, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -157.91952,
          21.63549
        ],
        "is_location_exact": true
      }
    }
  },
  {
    "minimum_nights": "3",
    "accommodates": 16,
    "address": {
      "street": "Hauula, HI, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -157.90511,
          21.60645
        ],
        "is_location_exact": true
      }
    }
  },
  {
    "minimum_nights": "3",
    "accommodates": 12,
    "address": {
      "street": "Brooklyn, NY, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -73.95085,
          40.64377
        ],
        "is_location_exact": true
      }
    }
  },
  {
    "minimum_nights": "3",
    "accommodates": 14,
    "address": {
      "street": "Koloa, HI, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -159.44654,
          21.8749
        ],
        "is_location_exact": true
      }
    }
  },
  {
    "minimum_nights": "3",
    "accommodates": 12,
    "address": {
      "street": "Princeville, HI, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -159.47125,
          22.21682
        ],
        "is_location_exact": false
      }
    }
  },
  {
    "minimum_nights": "3",
    "accommodates": 12,
    "address": {
      "street": "Kahuku, HI, United States",
      "location": {
        "type": "Point",
        "coordinates": [
          -158.01657,
          21.69298
        ],
        "is_location_exact": true
      }
    }
  }
]

The operation below finds the first 10 documents where the price is at most 50 or has 3 beds.

In [73]:
result = client['sample_airbnb'].listingsAndReviews.find({'$or':[{'price':{'$lte':50}},{'beds':3}]},
                                    {'accommodates':1,'address.country':1,'price':1,'beds':1}).limit(10)
print(dumps(result, indent=2))

[
  {
    "_id": "10021707",
    "accommodates": 1,
    "beds": 1,
    "price": {
      "$numberDecimal": "40.00"
    },
    "address": {
      "country": "United States"
    }
  },
  {
    "_id": "10038496",
    "accommodates": 4,
    "beds": 3,
    "price": {
      "$numberDecimal": "119.00"
    },
    "address": {
      "country": "Brazil"
    }
  },
  {
    "_id": "10057447",
    "accommodates": 4,
    "beds": 2,
    "price": {
      "$numberDecimal": "50.00"
    },
    "address": {
      "country": "Canada"
    }
  },
  {
    "_id": "10059244",
    "accommodates": 2,
    "beds": 1,
    "price": {
      "$numberDecimal": "43.00"
    },
    "address": {
      "country": "Canada"
    }
  },
  {
    "_id": "10066928",
    "accommodates": 6,
    "beds": 3,
    "price": {
      "$numberDecimal": "140.00"
    },
    "address": {
      "country": "Canada"
    }
  },
  {
    "_id": "10082422",
    "accommodates": 2,
    "beds": 2,
    "price": {
      "$numberDecimal": "50.00"
    },
    "address": {
      "country": "Spain"
    }
  },
  {
    "_id": "10083468",
    "accommodates": 2,
    "beds": 1,
    "price": {
      "$numberDecimal": "30.00"
    },
    "address": {
      "country": "Portugal"
    }
  },
  {
    "_id": "10112159",
    "accommodates": 2,
    "beds": 1,
    "price": {
      "$numberDecimal": "40.00"
    },
    "address": {
      "country": "Portugal"
    }
  },
  {
    "_id": "10116578",
    "accommodates": 5,
    "beds": 3,
    "price": {
      "$numberDecimal": "933.00"
    },
    "address": {
      "country": "Brazil"
    }
  },
  {
    "_id": "10117617",
    "accommodates": 2,
    "beds": 1,
    "price": {
      "$numberDecimal": "40.00"
    },
    "address": {
      "country": "Portugal"
    }
  }
]

The operation below finds the top 5 cheapest accommodations where country is in one of the following - United States, China, Australia.

In [74]:
result = client['sample_airbnb'].listingsAndReviews.find({'address.country':{'$in':
['Australia','China','United States']}},{'address.country':1,'price':1,'amenities':1}).sort('price',1).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": "31391139",
    "amenities": [
      "TV",
      "Cable TV",
      "Wifi",
      "Kitchen",
      "Free parking on premises",
      "Smoking allowed",
      "Free street parking",
      "Washer",
      "Essentials",
      "Shampoo",
      "Hangers",
      "Hair dryer",
      "Iron",
      "Bed linens",
      "Extra pillows and blankets",
      "Microwave",
      "Refrigerator",
      "Dishes and silverware",
      "Cooking basics",
      "Oven",
      "Stove",
      "Long term stays allowed",
      "Cleaning before checkout",
      "Host greets you"
    ],
    "price": {
      "$numberDecimal": "14.00"
    },
    "address": {
      "country": "Australia"
    }
  },
  {
    "_id": "4031809",
    "amenities": [
      "Cable TV",
      "Wifi",
      "Air conditioning",
      "Kitchen",
      "Elevator",
      "Buzzer/wireless intercom",
      "Heating",
      "Washer",
      "Dryer",
      "Smoke detector",
      "First aid kit",
      "Fire extinguisher",
      "Laptop friendly workspace"
    ],
    "price": {
      "$numberDecimal": "16.00"
    },
    "address": {
      "country": "United States"
    }
  },
  {
    "_id": "23509818",
    "amenities": [
      "TV",
      "Wifi",
      "Kitchen",
      "Smoking allowed",
      "Washer",
      "Dryer",
      "Essentials",
      "Hangers",
      "Hair dryer",
      "Iron",
      "Laptop friendly workspace"
    ],
    "price": {
      "$numberDecimal": "16.00"
    },
    "address": {
      "country": "Australia"
    }
  },
  {
    "_id": "28516771",
    "amenities": [
      "Wifi",
      "Free street parking",
      "Washer",
      "Dryer",
      "Essentials",
      "Shampoo",
      "Lock on bedroom door",
      "Laptop friendly workspace",
      "Private entrance",
      "Bed linens",
      "Extra pillows and blankets",
      "Dishes and silverware",
      "Cooking basics",
      "BBQ grill",
      "Patio or balcony",
      "Garden or backyard",
      "Long term stays allowed",
      "Cleaning before checkout",
      "Host greets you"
    ],
    "price": {
      "$numberDecimal": "25.00"
    },
    "address": {
      "country": "United States"
    }
  },
  {
    "_id": "26391176",
    "amenities": [
      "TV",
      "Wifi",
      "Kitchen",
      "Free parking on premises",
      "Smoking allowed",
      "Free street parking",
      "Washer",
      "Dryer",
      "Smoke detector",
      "Carbon monoxide detector",
      "First aid kit",
      "Fire extinguisher",
      "Essentials",
      "Shampoo",
      "Lock on bedroom door",
      "Hangers",
      "Hair dryer",
      "Iron",
      "Laptop friendly workspace",
      "Game console",
      "Hot water",
      "Bed linens",
      "Extra pillows and blankets",
      "Coffee maker",
      "Refrigerator",
      "Dishes and silverware",
      "Cooking basics",
      "Oven",
      "Stove",
      "Single level home",
      "Garden or backyard",
      "Luggage dropoff allowed",
      "Other"
    ],
    "price": {
      "$numberDecimal": "25.00"
    },
    "address": {
      "country": "United States"
    }
  }
]

## Type Specific Queries

### Null values

Unlike SQL, MongoDB treats null values in two different ways by default:
1. Fields with "null" values mentioned explicitly in a document
2. Fields that do not exist in a document

For filtering only null values where the field exist requires setting "$exists" operator to true.

The example below illustrates the way on how MongoDB handles null values:

In [75]:
result = client['sample_training'].companies.find({'image.attribution':{'$eq':None}}).count()
print(dumps(result, indent=2))

C:\Users\yixia\AppData\Local\Temp/ipykernel_11628/2190062504.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  result = client['sample_training'].companies.find({'image.attribution':{'$eq':None}}).count()

9500

In [76]:
result = client['sample_training'].companies.find({'image.attribution':{'$eq':None}},{'image.attribution':1}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d8a"
    },
    "image": {}
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d8e"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d8f"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d94"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d95"
    },
    "image": {
      "attribution": null
    }
  }
]

In [77]:
result = client['sample_training'].companies.find({'image.attribution':{'$eq':None,'$exists':True}}).count()
print(dumps(result, indent=2))

C:\Users\yixia\AppData\Local\Temp/ipykernel_11628/2739776139.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  result = client['sample_training'].companies.find({'image.attribution':{'$eq':None,'$exists':True}}).count()

8142

In [78]:
result = client['sample_training'].companies.find({'image.attribution':{'$eq':None,'$exists':True}},
                                              {'image.attribution':1}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d8e"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d8f"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d94"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d95"
    },
    "image": {
      "attribution": null
    }
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297d97"
    },
    "image": {
      "attribution": null
    }
  }
]

Comparing both operations above, without setting "$exists" operator to true value, MongoDB treats null values as documents where the field does not exist or the field has "null" value.

<b> Note that in Pymongo, null values in MongoDB is equivalent to "None" values </b>

### Regular Expressions

Filtering documents based on regular expressions uses &dollar;regex operator based on the examples below:

The operation below finds all documents in the companies collection where the tag list contains the word "contact".

In [79]:
result = client['sample_training'].companies.find({'tag_list':{'$regex':'.contact.'}},{'tag_list':1,'name':1})
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297da1"
    },
    "name": "Plaxo",
    "tag_list": "contact-management, address-book, sync, contacts, de-duper, import, personal-cloud"
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297fe7"
    },
    "name": "Xobni",
    "tag_list": "email-management, contacts-management"
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675297fea"
    },
    "name": "Spoke",
    "tag_list": "crm, prm, social-networking, email, management, gtd, crowd-sourcing, outlook, add-ons, toolbar, contacts, connections"
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd675298202"
    },
    "name": "XING",
    "tag_list": "socialnetworking, contacts, professionalnetworking, business, social"
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd67529823c"
    },
    "name": "Relenta",
    "tag_list": "email, crm, contact-manager, task-manager, calendar, project-manager, getting-things-done, gtd, productivity, email-marketing"
  },
  {
    "_id": {
      "$oid": "52cdef7c4bab8bd67529859b"
    },
    "name": "SIMchronise",
    "tag_list": "mobile-solutions, mobile-data, data-synchronisation, mobile-security, backup, restore, mobile-contacts, web-2.0-addressbook, phonebackup"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675298c7f"
    },
    "name": "NetProspex",
    "tag_list": "contacts, contact-information, sales-prospects, sales-leads, b2b-marketing"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675298f5d"
    },
    "name": "Opencomm",
    "tag_list": "asterisk, voip, ivr, dialer, predective, recorder, click-to-call, hosted, saas, pabx, open-source, call-center, inbound, outbound, campaign, digium, contact-center, software-development, custom-solutions, cti"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675299025"
    },
    "name": "NUEBBO",
    "tag_list": "business-card, card-holder, contact-management"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675299618"
    },
    "name": "Sendible",
    "tag_list": "sms, email, social-networking, schedule, send, messaging, events, reminders, contacts, contact-management, marketing, advertising"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675299864"
    },
    "name": "Avazed",
    "tag_list": "phone-email-online-id-web-web-based-service-application-internet-directory-contact-contact-detail-dynamic-management-organization-free-phone-book-white-pages-yellow-pages"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd6752999a2"
    },
    "name": "Sendible",
    "tag_list": "sms, email, social-networking, schedule, send, messaging, events, reminders, contacts, contact-management, marketing, advertising"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd675299bee"
    },
    "name": "Avazed",
    "tag_list": "phone-email-online-id-web-web-based-service-application-internet-directory-contact-contact-detail-dynamic-management-organization-free-phone-book-white-pages-yellow-pages"
  },
  {
    "_id": {
      "$oid": "52cdef7d4bab8bd67529a0a1"
    },
    "name": "Inova Solutions",
    "tag_list": "call-center, dashboard, wallboard, reader-board, statistics, software, contact-center"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529a2d5"
    },
    "name": "fruux",
    "tag_list": "sync, synchronize, contacts, calendars, events, tasks, adressbook, ios, carddav, caldav"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b0c1"
    },
    "name": "Contails",
    "tag_list": "contact-sharing, mobile-synchronization, contacts-import, details-exchange, contacts-exchange"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b23b"
    },
    "name": "TranZfinity",
    "tag_list": "nfc, contactless, near-field-communication, mobile-payments"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b2f0"
    },
    "name": "Tenant Txt",
    "tag_list": "tenant, txt, contact, tenants, email, text-message, office, reminders, maintenance, alerts, tenant-txt, contact-tenants"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b307"
    },
    "name": "TheOfficialBoard",
    "tag_list": "organizational-charts, org-charts, wiki, contacts, contacts-database"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b5d2"
    },
    "name": "Actionize",
    "tag_list": "client-engagement-system, project-management, marketing-consultants, document-management, contact-management"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529b61c"
    },
    "name": "Centralino",
    "tag_list": "crm, freelancer, contacts, contact-management, relationship-management, client-management, address-book, emails, email-campaign, small-business, web-designer, web-developer, designer, customer-relationship-management"
  },
  {
    "_id": {
      "$oid": "52cdef7e4bab8bd67529badb"
    },
    "name": "BUSINEO",
    "tag_list": "btob, contact, information, directory, web2-0, marketing, sales"
  },
  {
    "_id": {
      "$oid": "52cdef7f4bab8bd67529c1e0"
    },
    "name": "Toffa",
    "tag_list": "google, groupwise, mobile, syncml, calendar, contacts, tasks, sync, mvne, mvno, white-label, synchronise, goosync"
  },
  {
    "_id": {
      "$oid": "52cdef7f4bab8bd67529c626"
    },
    "name": "Evolve IP",
    "tag_list": "cloud-services, cloud-computing, virtual-desktop, vdi, virtual-server, call-center, contact-center, ip-telephony, voip, hpbx, virtual-data-center, cloud-applications, cloud-security"
  }
]

The operation below finds all documents in the companies collection that starts with the name "pr@" as the email address.

In [80]:
result = client['sample_training'].companies.find({'email_address':{'$regex':'^pr@.'}},
                                                     {'email_address':1,'_id':0.,'name':1})
print(dumps(result, indent=2))

[
  {
    "name": "Veoh",
    "email_address": "pr@veoh.com"
  },
  {
    "name": "Jingle Networks",
    "email_address": "pr@jinglenetworks.com"
  },
  {
    "name": "Six Apart",
    "email_address": "pr@sixapart.com"
  },
  {
    "name": "Match",
    "email_address": "pr@match.com"
  },
  {
    "name": "Seatwave",
    "email_address": "pr@seatwave.com"
  },
  {
    "name": "Howcast",
    "email_address": "pr@howcast.com"
  },
  {
    "name": "Radialpoint",
    "email_address": "pr@radialpoint.com"
  },
  {
    "name": "Spongecell",
    "email_address": "pr@spongecell.com"
  },
  {
    "name": "Kudzu",
    "email_address": "pr@kudzu.com"
  },
  {
    "name": "Sipcall",
    "email_address": "pr@sipcall.com"
  },
  {
    "name": "Geeknet",
    "email_address": "pr@geek.net"
  },
  {
    "name": "SQLstream",
    "email_address": "pr@sqlstream.com"
  },
  {
    "name": "Syncplicity",
    "email_address": "pr@syncplicity.com"
  },
  {
    "name": "Careerjet",
    "email_address": "pr@careerjet.com"
  },
  {
    "name": "Aspyr Media",
    "email_address": "pr@aspyr.com"
  },
  {
    "name": "SPSS",
    "email_address": "pr@spss.com"
  },
  {
    "name": "SkyGrid",
    "email_address": "pr@skygrid.com"
  },
  {
    "name": "SoftBank",
    "email_address": "pr@softbank.co.jp"
  },
  {
    "name": "Spellspace",
    "email_address": "pr@spellspace.com"
  },
  {
    "name": "SoftBank",
    "email_address": "pr@softbank.co.jp"
  },
  {
    "name": "Spellspace",
    "email_address": "pr@spellspace.com"
  },
  {
    "name": "Cookstr",
    "email_address": "pr@cookstr.com"
  },
  {
    "name": "VicMan Software",
    "email_address": "pr@vicman.net"
  },
  {
    "name": "ServiceGoFor",
    "email_address": "pr@servicegofor.com"
  },
  {
    "name": "Sonos",
    "email_address": "pr@sonos.com"
  },
  {
    "name": "Glympse",
    "email_address": "pr@glympse.com"
  },
  {
    "name": "GameGround",
    "email_address": "pr@gameground.com"
  },
  {
    "name": "iNetGiant",
    "email_address": "pr@inetgiant.com"
  }
]

The operation below finds all documents in the companies collection that has description ending with a digit.

In [81]:
result = client['sample_training'].companies.find({'description':{'$regex':'.\d$'}},
                                                     {'description':1,'_id':0.,'name':1})
print(dumps(result, indent=2))

[
  {
    "name": "Govit",
    "description": "Congressional Legislation Web 2.0"
  }
]

Note that MongoDB uses PCRE library for matching regular expression syntax. 

More details of PCRE syntax is available on the website: https://learnxinyminutes.com/docs/pcre/

### Arrays

#### Finding documents that at least contain specified array element

The operation below finds the accounts where products array field contains at least "Brokerage".

In [82]:
result = client['sample_analytics'].accounts.find({'products':'Brokerage'}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238d"
    },
    "account_id": 557378,
    "limit": 10000,
    "products": [
      "InvestmentStock",
      "Commodity",
      "Brokerage",
      "CurrencyService"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162394"
    },
    "account_id": 487188,
    "limit": 10000,
    "products": [
      "Brokerage",
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162395"
    },
    "account_id": 910579,
    "limit": 10000,
    "products": [
      "Brokerage",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162397"
    },
    "account_id": 668949,
    "limit": 10000,
    "products": [
      "Brokerage",
      "CurrencyService",
      "InvestmentStock",
      "Derivatives"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162398"
    },
    "account_id": 976027,
    "limit": 10000,
    "products": [
      "Brokerage",
      "InvestmentStock"
    ]
  }
]

#### FInding documents that contain exact array in the specified order

The operation below finds the accounts where products array field contains the exact list of products in the specified order:
"Brokerage", "Commodity", "InvestmentStock".

In [83]:
result = client['sample_analytics'].accounts.find({'products':['Brokerage','Commodity','InvestmentStock']}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816239a"
    },
    "account_id": 370583,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee581623a3"
    },
    "account_id": 775273,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816248b"
    },
    "account_id": 740050,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162576"
    },
    "account_id": 154391,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816258a"
    },
    "account_id": 895913,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  }
]

#### Finding documents that at least contains specified elements in array &lpar;Non-exact match&rpar;

The operation below finds accounts that at least contains all the following products: "Brokerage", "Commodity" and "InvestmentStock"

In [84]:
result = client['sample_analytics'].accounts.find({'products':{'$all':
                                                                ['Brokerage','Commodity','InvestmentStock']}}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238d"
    },
    "account_id": 557378,
    "limit": 10000,
    "products": [
      "InvestmentStock",
      "Commodity",
      "Brokerage",
      "CurrencyService"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162399"
    },
    "account_id": 135185,
    "limit": 10000,
    "products": [
      "CurrencyService",
      "Brokerage",
      "InvestmentStock",
      "Commodity"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816239a"
    },
    "account_id": 370583,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816239b"
    },
    "account_id": 870466,
    "limit": 10000,
    "products": [
      "Derivatives",
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee581623a3"
    },
    "account_id": 775273,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  }
]

#### Finding documents that contain a specific array length.

The operation below finds all accounts that contains 3 products.

In [85]:
result = client['sample_analytics'].accounts.find({'products':{'$size':3}}).limit(5)
print(dumps(result, indent=2))

[
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816238e"
    },
    "account_id": 198100,
    "limit": 10000,
    "products": [
      "Derivatives",
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162393"
    },
    "account_id": 328304,
    "limit": 10000,
    "products": [
      "Derivatives",
      "InvestmentStock",
      "CurrencyService"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162394"
    },
    "account_id": 487188,
    "limit": 10000,
    "products": [
      "Brokerage",
      "CurrencyService",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee58162396"
    },
    "account_id": 260499,
    "limit": 10000,
    "products": [
      "InvestmentFund",
      "Derivatives",
      "InvestmentStock"
    ]
  },
  {
    "_id": {
      "$oid": "5ca4bbc7a2dd94ee5816239a"
    },
    "account_id": 370583,
    "limit": 10000,
    "products": [
      "Brokerage",
      "Commodity",
      "InvestmentStock"
    ]
  }
]

<b> Note that $size operator does not support range of values. </b>

#### Range query in array values + Slicing arrays

<b>&dollar;elemMatch operator is used to match array values based on multiple conditions.</b>

Without elemMatch, conditions related to array values will be treated as "or" condition.

<b>&dollar;slice operator is used to return the first n elements of an array in the projection part of the find() function.</b>

The examples below illustrates the difference between using elemMatch operator and without using elemMatch operator:

In [86]:
result = client['sample_training'].grades.find({'scores': {'$elemMatch':{'score':{'$gte':98,'$lte':100},'type':'exam'}}},
                                                  {'scores':{'$slice':1},'student_id':1,'_id':0}).limit(5)
print(dumps(result, indent=2))

[
  {
    "student_id": 2.0,
    "scores": [
      {
        "type": "exam",
        "score": 99.96286009070468
      }
    ]
  },
  {
    "student_id": 24.0,
    "scores": [
      {
        "type": "exam",
        "score": 99.99181627987454
      }
    ]
  },
  {
    "student_id": 27.0,
    "scores": [
      {
        "type": "exam",
        "score": 98.15400216221381
      }
    ]
  },
  {
    "student_id": 47.0,
    "scores": [
      {
        "type": "exam",
        "score": 99.32292552972892
      }
    ]
  },
  {
    "student_id": 51.0,
    "scores": [
      {
        "type": "exam",
        "score": 98.56657325413794
      }
    ]
  }
]

In [87]:
result = client['sample_training'].grades.find({'scores.score':{'$gte':98,'$lte':100},'scores.type':'exam'},
                                                  {'scores':{'$slice':1},'student_id':1,'_id':0}).limit(5)
print(dumps(result, indent=2))

[
  {
    "student_id": 0.0,
    "scores": [
      {
        "type": "exam",
        "score": 25.926204502143857
      }
    ]
  },
  {
    "student_id": 2.0,
    "scores": [
      {
        "type": "exam",
        "score": 99.96286009070468
      }
    ]
  },
  {
    "student_id": 3.0,
    "scores": [
      {
        "type": "exam",
        "score": 94.0956223526191
      }
    ]
  },
  {
    "student_id": 4.0,
    "scores": [
      {
        "type": "exam",
        "score": 36.573443294979924
      }
    ]
  },
  {
    "student_id": 4.0,
    "scores": [
      {
        "type": "exam",
        "score": 37.76496909017533
      }
    ]
  }
]

### Embedded Documents

Querying embedded documents is possible using <b>"dot" notation</b> for every inner layer of the document.

The operation below displays documents in the movies collection with number of movie reviews between 30 million and 40 million:

In [88]:
result = client['sample_mflix'].movies.find({'tomatoes.viewer.numReviews':{'$gte':30000000,'$lte':40000000}},
                                               {'tomatoes.viewer':1,'title':1,'_id':0,'year':1})
print(dumps(result, indent=2))

[
  {
    "title": "Rocky",
    "year": 1976,
    "tomatoes": {
      "viewer": {
        "rating": 3.2,
        "numReviews": 33400830,
        "meter": 68
      }
    }
  },
  {
    "year": 1982,
    "title": "E.T. the Extra-Terrestrial",
    "tomatoes": {
      "viewer": {
        "rating": 3.5,
        "numReviews": 32310136,
        "meter": 71
      }
    }
  },
  {
    "title": "D\u00e8gkesely\u00e8",
    "year": 1982,
    "tomatoes": {
      "viewer": {
        "rating": 3.5,
        "numReviews": 32310136,
        "meter": 71
      }
    }
  },
  {
    "year": 1990,
    "title": "Pretty Woman",
    "tomatoes": {
      "viewer": {
        "rating": 3.5,
        "numReviews": 32707679,
        "meter": 68
      }
    }
  },
  {
    "year": 1994,
    "title": "Ace Ventura: Pet Detective",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 33202226,
        "meter": 57
      }
    }
  },
  {
    "year": 1995,
    "title": "Braveheart",
    "tomatoes": {
      "viewer": {
        "rating": 3.8,
        "numReviews": 32705600,
        "meter": 85
      }
    }
  },
  {
    "year": 1997,
    "title": "Titanic",
    "tomatoes": {
      "viewer": {
        "rating": 3.3,
        "numReviews": 35792304,
        "meter": 69
      }
    }
  },
  {
    "year": 2005,
    "title": "Star Wars: Episode III - Revenge of the Sith",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 33671923,
        "meter": 65
      }
    }
  },
  {
    "year": 1999,
    "title": "The Matrix",
    "tomatoes": {
      "viewer": {
        "rating": 3.6,
        "numReviews": 33319113,
        "meter": 85
      }
    }
  },
  {
    "year": 1999,
    "title": "10 Things I Hate About You",
    "tomatoes": {
      "viewer": {
        "rating": 3.3,
        "numReviews": 32102606,
        "meter": 69
      }
    }
  },
  {
    "year": 1999,
    "title": "American Pie",
    "tomatoes": {
      "viewer": {
        "rating": 3.4,
        "numReviews": 33779417,
        "meter": 60
      }
    }
  },
  {
    "year": 2003,
    "title": "The Lord of the Rings: The Return of the King",
    "tomatoes": {
      "viewer": {
        "rating": 3.7,
        "numReviews": 34672897,
        "meter": 86
      }
    }
  },
  {
    "year": 2000,
    "title": "Gladiator",
    "tomatoes": {
      "viewer": {
        "rating": 3.8,
        "numReviews": 34124318,
        "meter": 87
      }
    }
  },
  {
    "year": 2000,
    "title": "Scary Movie",
    "tomatoes": {
      "viewer": {
        "rating": 3.0,
        "numReviews": 32580102,
        "meter": 43
      }
    }
  },
  {
    "year": 2000,
    "title": "Scary Movie",
    "tomatoes": {
      "viewer": {
        "rating": 3.0,
        "numReviews": 32580102,
        "meter": 43
      }
    }
  },
  {
    "year": 2001,
    "title": "Ocean's Eleven",
    "tomatoes": {
      "viewer": {
        "rating": 3.6,
        "numReviews": 32599025,
        "meter": 79
      }
    }
  },
  {
    "year": 2001,
    "title": "Donnie Darko",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 30981060,
        "meter": 80
      }
    }
  },
  {
    "year": 2003,
    "title": "Finding Nemo",
    "tomatoes": {
      "viewer": {
        "rating": 3.8,
        "numReviews": 33350664,
        "meter": 86
      }
    }
  },
  {
    "year": 2003,
    "title": "Kill Bill: Vol. 1",
    "tomatoes": {
      "viewer": {
        "rating": 3.4,
        "numReviews": 32553805,
        "meter": 80
      }
    }
  },
  {
    "year": 2002,
    "title": "About a Boy",
    "tomatoes": {
      "viewer": {
        "rating": 2.8,
        "numReviews": 31162671,
        "meter": 54
      }
    }
  },
  {
    "year": 2002,
    "title": "A Walk to Remember",
    "tomatoes": {
      "viewer": {
        "rating": 3.3,
        "numReviews": 31400640,
        "meter": 78
      }
    }
  },
  {
    "year": 2004,
    "title": "Meet the Fockers",
    "tomatoes": {
      "viewer": {
        "rating": 3.5,
        "numReviews": 33180549,
        "meter": 58
      }
    }
  },
  {
    "year": 2002,
    "title": "Austin Powers in Goldmember",
    "tomatoes": {
      "viewer": {
        "rating": 3.0,
        "numReviews": 32933719,
        "meter": 44
      }
    }
  },
  {
    "year": 2002,
    "title": "The Ring",
    "tomatoes": {
      "viewer": {
        "rating": 3.0,
        "numReviews": 32457345,
        "meter": 48
      }
    }
  },
  {
    "year": 2004,
    "title": "Shrek 2",
    "tomatoes": {
      "viewer": {
        "rating": 3.5,
        "numReviews": 34229532,
        "meter": 69
      }
    }
  },
  {
    "year": 2002,
    "title": "Seaside",
    "tomatoes": {
      "viewer": {
        "rating": 3.0,
        "numReviews": 32457345,
        "meter": 48
      }
    }
  },
  {
    "year": 2002,
    "title": "8 Mile",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 32165680,
        "meter": 54
      }
    }
  },
  {
    "year": 2003,
    "title": "Love Actually",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 31624521,
        "meter": 73
      }
    }
  },
  {
    "year": 2003,
    "title": "Bruce Almighty",
    "tomatoes": {
      "viewer": {
        "rating": 3.3,
        "numReviews": 33022273,
        "meter": 57
      }
    }
  },
  {
    "year": 2004,
    "title": "The Day After Tomorrow",
    "tomatoes": {
      "viewer": {
        "rating": 3.2,
        "numReviews": 32747579,
        "meter": 50
      }
    }
  },
  {
    "year": 2003,
    "title": "2 Fast 2 Furious",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 32789225,
        "meter": 50
      }
    }
  },
  {
    "year": 2003,
    "title": "Pirates of the Caribbean: The Curse of the Black Pearl",
    "tomatoes": {
      "viewer": {
        "rating": 3.9,
        "numReviews": 33121108,
        "meter": 86
      }
    }
  },
  {
    "year": 2005,
    "title": "Harry Potter and the Goblet of Fire",
    "tomatoes": {
      "viewer": {
        "rating": 3.4,
        "numReviews": 34148873,
        "meter": 74
      }
    }
  },
  {
    "year": 2003,
    "title": "School of Rock",
    "tomatoes": {
      "viewer": {
        "rating": 3.2,
        "numReviews": 32782378,
        "meter": 64
      }
    }
  },
  {
    "year": 2004,
    "title": "50 First Dates",
    "tomatoes": {
      "viewer": {
        "rating": 3.4,
        "numReviews": 32698277,
        "meter": 65
      }
    }
  },
  {
    "year": 2004,
    "title": "A Cinderella Story",
    "tomatoes": {
      "viewer": {
        "rating": 2.8,
        "numReviews": 31658289,
        "meter": 53
      }
    }
  },
  {
    "year": 2005,
    "title": "Mr. & Mrs. Smith",
    "tomatoes": {
      "viewer": {
        "rating": 3.4,
        "numReviews": 33459959,
        "meter": 58
      }
    }
  },
  {
    "year": 2005,
    "title": "King Kong",
    "tomatoes": {
      "viewer": {
        "rating": 2.8,
        "numReviews": 33764093,
        "meter": 50
      }
    }
  },
  {
    "year": 2005,
    "title": "The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",
    "tomatoes": {
      "viewer": {
        "rating": 3.1,
        "numReviews": 34102794,
        "meter": 61
      }
    }
  },
  {
    "year": 2005,
    "title": "Sin City",
    "tomatoes": {
      "viewer": {
        "rating": 3.3,
        "numReviews": 32220151,
        "meter": 78
      }
    }
  },
  {
    "year": 2005,
    "title": "War of the Worlds",
    "tomatoes": {
      "viewer": {
        "rating": 2.9,
        "numReviews": 32516673,
        "meter": 42
      }
    }
  },
  {
    "year": 2005,
    "title": "Saw II",
    "tomatoes": {
      "viewer": {
        "rating": 3.2,
        "numReviews": 32523152,
        "meter": 59
      }
    }
  }
]