## Basic Anaconda Commands

These basic commands of working with anaconda is essential for working with Python in different environments, while avoiding conflicts of certain Python libraries that may have version mismatches

More details about complete list of anaconda commands can be found in the following link:
https://docs.conda.io/projects/conda/en/latest/commands.html

Here are a few examples of the most common anaconda commands used:

<b>conda create env_name</b> : Create new anaconda environment

<b>conda activate env_name</b> : Activate specified anaconda environment

<b>conda deactivate</b> : Deactivate current anaconda environment

<b>conda install package_name</b>: Install new package into anaconda environment

<b>conda update package_name</b>: Update existing package in anaconda environment

In [1]:
# View all environments created in anaconda
conda info --envs

SyntaxError: invalid syntax (Temp/ipykernel_17268/2883128224.py, line 2)

In [2]:
# View list of packages installed in current anaconda environment
conda list

SyntaxError: invalid syntax (Temp/ipykernel_17268/878725703.py, line 2)

## Python Indexing

Keypoints to note for indexing in Python:

1. For indexing data in Python, indexes usually start from 0 on the left.

2. Negative indexing is allowed in Python, which starts from -1 on the right side of a sequence.

3. Range indexing in Python starts from "start index" to "end index - 1" in steps of 1 (default) - Note that negative value of steps indicate retrieve data in reverse order

4. Indexing works on data types like text data and sequence data.

Details of how indexing works will be shown in the next section.

## Python variable types

While there are many Python variable types, the most common built-in types of variables used in Python are:

1. <b>text data</b>: str
2. <b>numerical data</b>: int | float | complex
3. <b>sequence data</b>: list | tuple | range
4. <b>mapping data</b>: dict
5. <b>set data</b>: set | frozenset
6. <b>boolean data</b>: bool
7. <b>null data </b>: None

For identifying types of data variables, use the built-in type() function.

For casting data into different variable types, use the data-type keyword as a function. (i.e. int(), str(), dict(), ...)

### Boolean Data

Using built-in/custom functions that return boolean values, logical operators can be used to evaluate the truth of statements in Python.

1. <b>and</b>: Evaluates to true if both conditions are true or otherwise
2. <b>or</b>: Evaluates to true if either condition is true or otherwise
3. <b>not</b>: Evaluates to opposite of boolean value from expressions

In [3]:
print("True and False :",True and False)
print("True and True :",True and True)
print("True or False :",True or False)
print("False or False :",False or False)

True and False : False
True and True : True
True or False : True
False or False : False

In [4]:
print("not(True or False) :",not(True or False))
print("not(False or False) :",not(False or False))

not(True or False) : False
not(False or False) : True

In [5]:
# Returns bool as data type
type((not(True or False)))

bool

In [6]:
# Sets to true if bool function contains at least an element or otherwise.
print(bool('False'))
print(bool())

True
False

### Text Data

Text in Python are immutable (elements cannot be updated once defined). However, text data is indexable (portion of data can be retrieved)

The following string functions below are most commonly used in Python, but not limited to the following:

In [7]:
text = "This is a text"

In [8]:
# Set all characters in a string to lower case
text.lower()

'this is a text'

In [9]:
# Capitalize a sentence with uppercase only on first letter of string
text.capitalize()

'This is a text'

In [10]:
# Checks if text ends with a specified character
text.endswith('k')

False

In [11]:
# Checks if text starts with a specified character
text.startswith('T')

True

In [12]:
# Split text based on " " separator by default 
text.split()

['This', 'is', 'a', 'text']

In [13]:
text2 = """ This is first line.
This is 2nd line.
This is 3rd line."""

In [14]:
# Split text based on line boundaries.
text2.splitlines()

[' This is first line.', 'This is 2nd line.', 'This is 3rd line.']

In [15]:
text3 = "     This is text with unwanted spacings.     "

In [16]:
# Remove leading and trailing spacings
text3.strip()

'This is text with unwanted spacings.'

In [17]:
text4 = "This is {} that it is {}"

In [18]:
# Format strings by inserting text into {} by position
text4.format("ridiculous", "silly")

'This is ridiculous that it is silly'

In [19]:
# Concatenate n number of strings based on a separator
" | ".join(["Choice1", "Choice2", "Choice3"])

'Choice1 | Choice2 | Choice3'

In [20]:
# Replace part of string with new string
text.replace("text", "sentence")

'This is a sentence'

In [21]:
# Return index of substring. If not found, return -1
print(text4.find("is"))
print(text4.find("not"))

2
-1

In [22]:
# Return index of substring. If not found, return valueerror
print(text4.index("is"))
print(text4.index("not"))

2

ValueError: substring not found

In [23]:
text5 = "567"

In [24]:
# Pad zeros to the left of string to fit specified string width without truncation
text5.zfill(6)

'000567'

In [25]:
# Returns length of string including spaces
len(text)

14

In [26]:
# Simple string concatenation with "+" operator
text + text2

'This is a text This is first line.\nThis is 2nd line.\nThis is 3rd line.'

In [27]:
# String concatenation n times with "*" operator
text * 2

'This is a textThis is a text'

In [28]:
# Slicing of strings with start and end index
text, text[4:], text[:-3], text[3:6]

('This is a text', ' is a text', 'This is a t', 's i')

In [29]:
#Returns every 2 characters of a text from the 1st index. (Default step is 1 if not specified)
text[::2]

'Ti satx'

In [30]:
#Returns every 3 characters of a text from the last index. (Default step is 1 if not specified)
text[::-2]

'te  ish'

### Sequence Data (List)

Lists are ordered collections that are mutable (individual elements can be updated after creation).

Lists are defined using square brackets "[ ]" and can have different types of elements.

The following functions are applicable for lists:

In [31]:
list1 = [25, 46, True, "String"]

In [32]:
# Adding new item to the end of list
list1.append(56)
list1

[25, 46, True, 'String', 56]

In [33]:
# Adding new item (list) to the end of list
list1.append(["Apple",21])
list1

[25, 46, True, 'String', 56, ['Apple', 21]]

Note that the entire list that was recently added is treated as one single item under append method.

In [34]:
# Extend multiple items to the end of list
list1.extend(["Oranges",24,False])
list1

[25, 46, True, 'String', 56, ['Apple', 21], 'Oranges', 24, False]

Note that extend() function is similar to concatenating two lists together using "+" operator.

i.e. list1 + ['Oranges', 24, False]

In [35]:
# Adding items at specific index
list1.insert(1,"Second value")
list1

[25,
 'Second value',
 46,
 True,
 'String',
 56,
 ['Apple', 21],
 'Oranges',
 24,
 False]

In [36]:
# Display last item that is removed from the list (default setting for pop function)
print("Item removed:", list1.pop())
print("New list:",list1)

Item removed: False
New list: [25, 'Second value', 46, True, 'String', 56, ['Apple', 21], 'Oranges', 24]

In [37]:
# Display item at index n that is removed from the list
print("Item removed:", list1.pop(2))
print("New list:",list1)

Item removed: 46
New list: [25, 'Second value', True, 'String', 56, ['Apple', 21], 'Oranges', 24]

In [38]:
#Reverse the sequence of items in the list
list1.reverse()
list1

[24, 'Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25]

In [39]:
#Return number of occurences of specific item in the list
list1.count(56)

1

In [40]:
# Creating a shallow copy of list objects
list2 = list1.copy()
list2.extend(["25"])
print("Copied list:",list2)
print("Original list:",list1)

Copied list: [24, 'Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25, '25']
Original list: [24, 'Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25]

In [41]:
# Creating a new list without shallow copy
list3 = list1
list3.extend(["Extra"])
print("Copied list:",list3)
print("Original list:",list1)

Copied list: [24, 'Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25, 'Extra']
Original list: [24, 'Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25, 'Extra']

In [42]:
# Remove first occurence of specified value from the list
list1.remove(24)
list1

['Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25, 'Extra']

In [43]:
# Returns the number of items in a list
len(list1)

8

In [44]:
# Returns a sorted list in ascending order
list4 = [25,67,12,27]
list4.sort()
list4

[12, 25, 27, 67]

In [45]:
# Returns a sorted list in descending order
list4.sort(reverse=True)
list4

[67, 27, 25, 12]

In [46]:
# Returns number of items in list
list4.count(27)

1

In [47]:
# Indexing on lists
list1, list1[3:], list1[:-1], list1[-3:]

(['Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25, 'Extra'],
 ['String', True, 'Second value', 25, 'Extra'],
 ['Oranges', ['Apple', 21], 56, 'String', True, 'Second value', 25],
 ['Second value', 25, 'Extra'])

### Identity vs Equality Comparison vs Membership Operators

Identity operators compare memory location between two Python objects using "is" or "is not" keywords. Identity operators evaluate expression to true if both objects refer to the same memory location.

Equality Comparison operators compare equality in content between two Python objects using "==" or "!=" sign. Note that equality comparison operators evaluate expression to true only if the object contents are exactly the same.

Membership operators check for whether a specified value is contained within a Python object using "in" or "not in" keywords.

Both identity, equality comparison and membership operators return boolean values.

Note that other comparison operators like (<, <=, > and >=) also returns boolean values.

In [48]:
# Identity operators
list1 = [25, 45, 78, 20]
list2 = [25, 45, 78, 20]
list3 = list1
print("Is list1 referring to list2 ? -",list1 is list2)
print("Is list1 referring to list3 ? -",list1 is list3)

Is list1 referring to list2 ? - False
Is list1 referring to list3 ? - True

Note that "is" operator does not check for content of Python objects. It simply checks for the same memory location between two Python objects.

In [49]:
# Equality comparison operators
"y" == "y", "ya" == "ay", "Family" == "family", [2,3,4] != [3,4,2]

(True, False, False, True)

In [50]:
# Membership operators
list1 = [25, 45, 78, 20]
25 in list1, "apple" in list1, "t" not in "going"

(True, False, True)

### Sequence Data (Tuples)

Unlike lists, tuples are immutable, ordered collections, where individual elements cannot be updated after creation. (Note that entire tuple object can be removed)

Tuples are defined using round brackets "( )" and can have different types of elements.

The following functions are applicable for tuples:

In [51]:
tuple1 = (25, "text", True, 56.8)

In [52]:
# Indexing on tuples (Similar to lists)
tuple1[0], tuple1[2:], tuple1[-4:-1]

(25, (True, 56.8), (25, 'text', True))

In [53]:
# Note that individual elements of tuples cannot be updated (Return a TypeError)
tuple1[1] = 26

TypeError: 'tuple' object does not support item assignment

In [54]:
# Return index of value in tuple (Returns ValueError if item is not in tuple)
tuple1.index(True)

2

In [55]:
# Returns number of items in tuple
tuple1.count(25)

1

In [56]:
# Unpacking tuples into variables
first, second, third, last = tuple1
print("First item:",first)
print("Second item:",second)
print("Third item:",third)
print("Last item:",last)

First item: 25
Second item: text
Third item: True
Last item: 56.8

In [57]:
# Unpacking tuples into variables (Dumping other elements of tuples into single variable)
first, second, *others = tuple1
print("First item:",first)
print("Second item:",second)
print("Other items:",others)

First item: 25
Second item: text
Other items: [True, 56.8]

### Sequence Data (Dictionaries)

Dictionaries are unordered collection of key-value pairs, also known as hash-map or associative arrays.

Dictionaries are created using the following format: "{key : value}"

Similar to lists, dictionaries are also mutable.

However, indexing of dictionaries does not rely on index positions. Instead, keys are used to extract elements of dictionaries.

The following functions are applicable for dictionaries:

In [58]:
dict1 = {"number": 1, "text": "sentence one", "other values": 35.7}

In [59]:
# Obtain all keys from dictionary
dict1.keys()

dict_keys(['number', 'text', 'other values'])

In [60]:
# Obtain all values from dictionary
dict1.values()

dict_values([1, 'sentence one', 35.7])

In [61]:
# Obtain all key-value pairs (tuple format) from dictionary
dict1.items()

dict_items([('number', 1), ('text', 'sentence one'), ('other values', 35.7)])

In [62]:
# Obtain value from specified key in dictionary
dict1.get("text")

'sentence one'

In [63]:
# Adding new key-value pairs to dictionary
dict1['new item'] = 5.6
dict1

{'number': 1, 'text': 'sentence one', 'other values': 35.7, 'new item': 5.6}

In [64]:
# Update key-value pair or create new key-value pair if key doesn't exist
dict1.update({"number":5})
dict1

{'number': 5, 'text': 'sentence one', 'other values': 35.7, 'new item': 5.6}

In [65]:
# Update value of key to specified default value if key doesn't exist
dict1.setdefault("default",2)
dict1

{'number': 5,
 'text': 'sentence one',
 'other values': 35.7,
 'new item': 5.6,
 'default': 2}

In [66]:
# Populates value of key specified and removes the specified key-value pair from the dictionary
print(dict1.pop("default"))
print(dict1)

2
{'number': 5, 'text': 'sentence one', 'other values': 35.7, 'new item': 5.6}

In [67]:
# Populates last key-value pair and removes it from the dictionary
print(dict1.popitem())
print(dict1)

('new item', 5.6)
{'number': 5, 'text': 'sentence one', 'other values': 35.7}

In [68]:
# Creating a shallow copy of dictionary objects
dict2 = dict1.copy()
dict2['extra'] = True
print("Copied dictionary:",dict2)
print("Original dictionary:",dict1)

Copied dictionary: {'number': 5, 'text': 'sentence one', 'other values': 35.7, 'extra': True}
Original dictionary: {'number': 5, 'text': 'sentence one', 'other values': 35.7}

In [69]:
# Without creating a shallow copy of dictionary objects
dict3 = dict1
dict3['extra'] = True
print("Copied dictionary:",dict3)
print("Original dictionary:",dict1)

Copied dictionary: {'number': 5, 'text': 'sentence one', 'other values': 35.7, 'extra': True}
Original dictionary: {'number': 5, 'text': 'sentence one', 'other values': 35.7, 'extra': True}

### Sequence Data (Sets)

Sets are unordered collection of unique elements.

Sets are defined by using the following format: "{value1, value2, ...}"

Note that individual elements of sets cannot be indexed.

The following operations can be used in sets:

In [70]:
set1 = {456, 25.6, "apple", "bananas", 23}
set2 = {25.6, 456, "apple", 79, True, False}

In [71]:
# Adding unique item to set
set1.add("sandwiches")
set1.add(23) #Note that 23 has already been included in set1. So, no changes to the set for this operation.
set1

{23, 25.6, 456, 'apple', 'bananas', 'sandwiches'}

In [72]:
# Extract all elements from multiple sets (union function)
print(set1.union(set2))
print(set1 | set2)

{False, True, 'apple', 456, 79, 'sandwiches', 23, 25.6, 'bananas'}
{False, True, 'apple', 456, 79, 'sandwiches', 23, 25.6, 'bananas'}

In [73]:
set5 = set1.copy()
print("Before set update:",set5)
set5.update(set2) # Union update
print("After set update:",set5)

Before set update: {'apple', 'sandwiches', 23, 456, 25.6, 'bananas'}
After set update: {False, True, 'apple', 456, 79, 'sandwiches', 23, 25.6, 'bananas'}

In [74]:
# Extract all common elements from multiple sets (intersection function)
print(set1.intersection(set2))
print(set1 & set2)

{456, 'apple', 25.6}
{456, 'apple', 25.6}

In [75]:
set5 = set1.copy()
print("Before set update:",set5)
set5.intersection_update(set2) # Intersection update
print("After set update:",set5)

Before set update: {'apple', 'sandwiches', 23, 456, 25.6, 'bananas'}
After set update: {456, 'apple', 25.6}

In [76]:
# Extract all elements in first set that are not in second set (difference function)
print(set1.difference(set2))
print(set1 - set2)

{'bananas', 'sandwiches', 23}
{'bananas', 'sandwiches', 23}

In [77]:
set5 = set1.copy()
print("Before set update:",set5)
set5.difference_update(set2) # Difference update
print("After set update:",set5)

Before set update: {'apple', 'sandwiches', 23, 456, 25.6, 'bananas'}
After set update: {'sandwiches', 23, 'bananas'}

In [78]:
# Extract all elements in either set but not both sets (symmetric_difference function)
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

{False, True, 79, 'sandwiches', 23, 'bananas'}
{False, True, 79, 'sandwiches', 23, 'bananas'}

In [79]:
set5 = set1.copy()
print("Before set update:",set5)
set5.symmetric_difference_update(set2) # Symmetric_Difference update
print("After set update:",set5)

Before set update: {'apple', 'sandwiches', 23, 456, 25.6, 'bananas'}
After set update: {False, True, 79, 'sandwiches', 23, 'bananas'}

In [80]:
set3 = {24,25,26,27,28}
set4 = {25,26,27}

In [81]:
# Checks if set one is a subset of set two (all elements in set one are in set two)
print("Is Set3 subset of Set4? :",set3.issubset(set4))
print("Is Set4 subset of Set3? :",set4.issubset(set3))

Is Set3 subset of Set4? : False
Is Set4 subset of Set3? : True

In [82]:
# Checks if set one is a superset of set two (all elements in set two are in set one)
print("Is Set3 superset of Set4? :",set3.issuperset(set4))
print("Is Set4 superset of Set3? :",set4.issuperset(set3))

Is Set3 superset of Set4? : True
Is Set4 superset of Set3? : False

In [83]:
# Checks if both sets have no common elements between each other
set3.isdisjoint(set4)

False

In [84]:
# Remove specific element from the set (No changes if element is not in the set)
print("Before remove element:",set3)
set3.discard(30) #Element 30 is not in set3
print("After remove element:",set3)

Before remove element: {24, 25, 26, 27, 28}
After remove element: {24, 25, 26, 27, 28}

In [85]:
# Remove specific element from the set (Returns error if element is not in the set)
print("Before remove element:",set3)
set3.remove(26)
print("After remove element:",set3)

Before remove element: {24, 25, 26, 27, 28}
After remove element: {24, 25, 27, 28}

In [86]:
# Remove arbitrary element from the set
print("Before remove element:",set3)
set3.pop()
print("After remove element:",set3)

Before remove element: {24, 25, 27, 28}
After remove element: {25, 27, 28}

In [87]:
# Remove all elements from the set
print("Before remove elements:",set3)
set3.clear()
print("After remove elements:",set3)

Before remove elements: {25, 27, 28}
After remove elements: set()

Note that sets can also be immutable by using frozen sets.

Frozen sets are defined using frozenset() function:

In [88]:
fset1 = frozenset({3,2,5,6})
fset1

frozenset({2, 3, 5, 6})

Similar to tuples, individual elements of frozen sets cannot be updated after defined. Thus, update and remove operations of individual elements are not available for frozen sets.

### Built-in Sequence Functions

The following are the most common built-in sequence functions that can be used on all types of sequence data:

In [89]:
# enumerate function (sequence iteration with index-value pairs)
list1 = [25, 27, 78, 56]
dict1 = {}
for index, value in enumerate(list1):
    dict1[index] = value
dict1

{0: 25, 1: 27, 2: 78, 3: 56}

In [90]:
# sorted function (sorts numerical collection in ascending or descending order without overwriting existing collection)
print(sorted([24,12,46,78], reverse=True))

# Sorts tuple by length of text in ascending order
print(sorted(("This", "is", "string"), key=len))

[78, 46, 24, 12]
['is', 'This', 'string']

In [91]:
# reversed function (iterator used for mirroring order of collection)
list(reversed([24,"This","normal", 56.7]))

[56.7, 'normal', 'This', 24]

In [92]:
# zip function (pairs up collections to create a list of paired tuples)
keys = ["first","second","third"]
values = (1,2,3)
list(zip(keys, values))

[('first', 1), ('second', 2), ('third', 3)]

### List, Set and Dictionary Comprehensions

Comprehensions can be used in lists, sets and dictionaries to concisely form a new collection in a single expression by:
1. Filtering elements (Optional)
2. Transforming elements
3. Passing filtered elements

General format of comprehension: 

1. List comprehension: [expr for value in collection if condition]
2. Set comprehension: {expr for value in collection if condition}
3. Dictionary comprehension: {key-expr : value-expr for value in collection if condition}

The following examples below shows the use of comprehensions:

In [93]:
# List comprehension
list1 = [25, 27, 29, 31]
[i/2 + 2 for i in list1 if i > 28]

[16.5, 17.5]

In [94]:
# Set comprehension
set1 = {"This", "is", "AweSome"}
{x.upper() for x in set1 if len(x)>2}

{'AWESOME', 'THIS'}

In [95]:
#Dictionary comprehension
dict1 = {"first":1, "second":2, "third":3}
{dict1.get(x) : x  for x in dict1}

{1: 'first', 2: 'second', 3: 'third'}